<div class="nav">
  <div class="title">
    <a href="/myPlastics">myPlastics</a>
  </div>
  <div class="navLinks">

    <div class="link">
      <div>
        <a href="/myPlastics/form">Individual</a>
      </div>
    </div>

    <div class="link">
      <div>
        <a href="/myPlastics/community">Community</a>
      </div>
    </div>

    <div class="link">
      <div>
        <a href="/myPlastics/solutions">Solutions</a>
      </div>
    </div>

  </div>

</div>
