<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myPlastics</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> <link rel="icon" href="/images/favicon.ico" type="image/x-icon">


    <script src="js/topTen.js" charset="utf-8"></script>
  </head>
  <body>

    <div class="main">

      <div>
        <% include ./partials/nav.ejs %>

        <div id="community" class="top">
          <div class="heading">
            <h1>COMMUNITY</h1>
          </div>

        </div>

      </div>

      <div class="container">

        <div class="community">
          <div class="table">
            <h2>Community Totals</h2>
            <table>
              <tr>
                <th>
                  Name
                </th>

                <th>
                  Waste Total
                </th>
              </tr>
              <% for (let i=0; i< plastics.length; i++) {%>
                <!-- click on name takes to results page with chart -->

                <tr>
                  <td>
                    <a href="/myPlastics/<%= plastics[i].id %>">
                      <%= plastics[i].userName %>
                    </a>
                  </td>

                  <td>
                    <a href="/myPlastics/<%= plastics[i].id %>">


                      <%= 52 * (plastics[i].plastic_bottles + plastics[i].plastic_cups + plastics[i].straws + plastics[i].resealable_plastic_bags + plastics[i].cling_wrap + plastics[i].cutlery + plastics[i].stirrers + plastics[i].takeout_food_containers + plastics[i].grocery_bags) %>
                    </a>
                  </td>
                </tr>

              <%}%>
            </table>
          </div>

          <div class="">


            <div class="">
              <h2>Steps to Encourage in your Local Community</h2>

              <ul>
                <li>Monthly local trash clean ups.</li>
                <li>Emplore local businesses to use more sustainable packaging.</li>
                <li>Petition the city for recycling bins.</li>
              </ul>
            </div>

          </div>
        </div>



        <% include ./partials/footer.ejs %>
      </div>



    </div>







  </body>
</html>
