<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myPlastics</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- <link rel="data" type="text" href="../models/topTen.js"> -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="../js/form.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  </head>
  <body>

    <div class="main">

      <div class="header">
        <% include ./partials/nav.ejs %>

        <div id="trash" class="top">
          <div class="heading">
            <h1>AWARENESS</h1>
          </div>
        </div>
      </div>



      <div class="container">
        <div id="firststep">
          <h2>The first step toward a cleaner planet </br> is personal accountability.</h2>

          <div id="theNeed">
            <p>Every person on earth is affected by the waste that ends up in landfills and the natural environment. A clean environment means cleaner air and water for our communities. As a starting point, lets estimate the amount of plastic items you use every week and see what you accumulate after one year. You will be amazed at how quickly the plastics pile up!</p>

            <p>Fill out the form below to get started on your journey to a cleaner planet! Once you are aware of the numbers, you will be able to take small steps to reduce your waste.</p>
          </div>

          <a id="calc" href="#">Waste Calculator</a>
        </div>

        <div id="modal" class="mainContent">

          <div id="modal-textbox" class="form">

            <a href="#" id="close">x Close</a>

            <h2>Personal Plastic Use</h2>

            <form action="/myPlastics/form %>" method="POST">
              <label for="userName">Name: </label>
              <input type="text" name="userName" placeholder="Your Name" /><br/>

              <label for="plastic_bottles">Plastic Bottles: </label><br/>
              <input type="number" name="plastic_bottles" /><br/>

              <label for="plastic_cups">Plastic Cups: </label><br/>
              <input type="number" name="plastic_cups" /><br/>

              <label for="straws">Straws: </label><br/>
              <input type="number" name="straws" /><br/>

              <label for="resealable_plastic_bags">Resealable Plastic Bags: </label><br/>
              <input type="number" name="resealable_plastic_bags" /><br/>

              <label for="cling_wrap">Cling Wrap: </label><br/>
              <input type="number" name="cling_wrap" /><br/>

              <label for="cutlery">Plastic Cutlery: </label><br/>
              <input type="number" name="cutlery" /><br/>

              <label for="stirrers">Stirrers: </label><br/>
              <input type="number" name="stirrers" /><br/>

              <label for="takeout_food_containers">Takeout Food Containers: </label><br/>
              <input type="number" name="takeout_food_containers" /><br/>

              <label for="grocery_bags">Plastic Grocery Bags: </label><br/>
              <input type="number" name="grocery_bags" /><br/>

              <input class="submit" type="submit" value="Submit" />
            </form>

          </div>
        </div>


      </div>
      <% include ./partials/footer.ejs %>

    </div>

  </body>
</html>
