<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myPlastics</title>
    <link rel="stylesheet" type="text/css" href="/main.css">

    <script src="js/topTen.js" charset="utf-8"></script>

  </head>
  <body>
    <main>

      <div class="top">
        <div class="nav">
          <div class="title">
            myPlastics
          </div>
          <div class="navLinks">
            <div class="link">
              Individual
            </div>
            <div class="link">
              Community
            </div>
            <div class="link">
              Solutions
            </div>
          </div>
        </div>
        <div id="problem">
          <span id="text">As inhabitants of Earth, we have a very urgent problem that desperately needs our attention. </span>
          <a href="/myPlastics/form" id="button">Learn More</a>
        </div>
      </div>

      <div class="second">
        <div class="inner">
            <div id="legos">
              <div>Around the year 1950, plastic became popular. This exciting new material was durable and cheaply made, allowing its use to become wide-spread.</div>
            </div>

        </div>

        <div class="inner">
          <div id="store">
            <div>Now, the most common use for plastic is single-use packaging.  </div>
          </div>

        </div>

        <div class="inner">
          <div id="fish">
            <div>Plastic is filling up our oceans and our natural environment. It is estimated that by the year 2050, there will be more plastic in our ocean than fish.</div>
          </div>

        </div>
      </div>

      <div class="third">
        <div class="topTen">

        </div>
      </div>



    </main>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  </body>
</html>
