
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
font-family: 'Raleway', sans-serif;
font-weight: 100;
background-color: rgb(16, 77, 107);
color: white;
margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  color: white;
  text-decoration: underline;
}

/* ---------NAV BAR-------- */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  color: white;
  height: 60px;
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 22px;
}
.link {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 100;
  font-size: 25px;
}
.link >div>a{
  text-decoration: none;

}
.link>div>a:hover{
  color: rgb(226, 140, 61);
}
.title {
  font-size: 48px;
  margin-left: 15px;
}
.title > a > img {
  margin-top: -71px;
}
.top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  color: white;
  font-family: sans-serif;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 60px; */
  overflow: hidden;
}
#tagline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 370px;
  margin-right: 20px;
}
#tagline>h1{
  font-weight: 200;
  font-size: 30px;

}
#water {
  background-image: url("/images/ocean-top-matt-hardy.jpeg");
  /* background-color: rgb(46, 50, 103); */
}
#welcome {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 35px;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}
#text {
  margin-bottom: 30px;

}
#calc, #close {
  color: rgb(27, 40, 107);
  background-color: rgb(226, 140, 61);
  border: 1px solid rgb(27, 40, 107);
  font-weight: bold;
  font-size: 20px;
  width: 130px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  padding: 10px;
  margin-left: 500px;
}
#button{
  color: rgb(27, 40, 107);
  background-color: rgb(226, 140, 61);
  border: 1px solid rgb(27, 40, 107);
  font-weight: bold;
  font-size: 20px;
  width: 130px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  padding: 10px;
}
#button:hover,
#calc:hover,
#close:hover{
  color: white;
  background-color: rgba(27, 40, 107, 0.92);
}
.second, .third{
  /* background-image: url("/images/large-underwater-anemonies-scott-webb.jpeg");
  background-size: cover;
  background-position: center; */
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;

}
.third {
  background-color: black;
  width: 100%;
  height: 450px;
  padding-top: 50px;
}
.inner, .chartContext {
  background-color: rgba(65, 131, 163, 0.3);
  font-size: 19px;
  height: 300px;
  width: 33%;
  border: 2px solid rgba(67, 123, 164, 0.63);
  text-align: center;
  margin: 10px;
  padding: 7px;
}
.chartContext{
  height: 450px;
  width: 30%;
  font-size: 20px;
  margin-right: 40px;
  margin-top: -30px;
}

.userChart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  padding-bottom: 30px;
  height: 600px;
  width: 600px;
  background-color: black;
  /* box-shadow: 5px 5px 10px rgb(68, 65, 103); */
}

svg{
  padding-top: 20px;
  padding-left: 20px;
}
.innertext {
  opacity: 1;
}
/* .third {
  background-image: url("/images/beach-plastic-john-cameron.jpeg");
  height: 550px;
  width:70%;
} */
@media only screen and (max-width:795px){

  .inner {
    font-size: 16px;
  }
}
@media only screen and (max-width:600px){
  .second{
    flex-wrap: wrap;
  }
  .inner {
    font-size: 12px;
  }
}
@media only screen and (max-width:414px){
  .second{
    flex-wrap: wrap;
  }
  .inner {
    font-size: 10px;
    min-width: 414px;
  }
}
#legos, #store, #fish {
  padding: 5px;
  background-position: center;
  background-size: cover;
  height: 290px;
  opacity: 0.7;
}

#legos > div, #store > div, #fish > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  height: 50%;
  background-color: rgba(65, 131, 163, 0.8);
  margin: 0 auto;
}
#legos {
  background-image: url("/images/legos-iker-urteaga.jpeg");
}
#store {
  background-image: url("/images/grocery-store-fikri-rasyid.jpeg");
}
#fish {
  background-image: url("/images/fish-lance-anderson.jpeg");
  transform-background-image: rotate(90deg);
}
/* ---------------HOME PAGE CHART--------------- */
.topTen{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#chart{
  background-color: #F5F2EB;
  border: 1px solid #CCC;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-top: -30px;
}
.bar {
  fill: rgb(246, 132, 26);
  shape-rendering: crispEdges;
}
.bar-label {
  text-anchor: middle;
  fill: #000;
  font-size: 14px;
  font-weight: bold;
}
.axis path,
.axis line {
  fill: none;
  color: black;
  stroke: #000;
  shape-rendering: crispEdges;
  font-weight: bold;
  font-size: 12px;
}
.gridline path,
.gridline line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

/* ---------FORM PAGE-------- */
.container, .mainContent, #firststep, .form,   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#trash {
  background-image: url("/images/beach-plastic-john-cameron.jpeg");

}
#trash>div, #jellyfish>div{
  color:white;
  border: 15px solid white;
}
#firststep {
  padding-top: 20px;
  height: 450px;
  width: 100%;
  background-color: white;
  color: rgb(16, 77, 107);
}
#firststep > h2 {
  font-size: 35px;
  text-align: center;
}
#theNeed{
  font-size: 25px;
  margin: 10px 100px;
}
.mainContent {
  flex-direction: row;
}

.form {
  height: 50%;
  width: 40%;
  justify-content: center;
}

form {
  margin-bottom: 30px;
  text-align: center;
}
label {
  font-weight: bold;
  font-size: 20px;
  padding: 3px;
  float: left;
}
input,
select,
textarea {
    background-color: #fff;
    border-color: #e0e0e0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    color: #474e57;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
}
.submit {
  margin: 25px;

}
#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: scroll;
	display: none;
}
#modal-textbox {
  background-color: rgb(16, 77, 107);
  border: 1px solid rgb(0, 217, 255);
	height: 500px;
	width: 550px;
	border-radius: 7px;
	margin: 0 auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 5%;
  overflow: scroll;
  text-align: center;
  line-height: 20px;
  /* padding-top: 30px; */
}

#close {
  letter-spacing: 3px;
  padding: 10px;
  height: 23px;
  margin-top: -45px;
  margin-left: -50px;
  float: left;
}
/* --------RESULTS PAGE--------- */

#jellyfish{
  background-image: url("/images/jellyfish-sasha-stories.jpeg");
}
.userResults {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#graph, #results{
  width: 40%;
  margin: 30px;
}
.userResults>div>div>h2{
  text-align: center;
}


#results > p, li {
  font-size:22px;
}
.num, #total {
  font-weight: bold;
  color: orange;
  font-size: 28px;
}
#total {
  font-size: 40px;
  margin-left: 110px;
}
.solutions {
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 200px;
  padding-right: 200px;
  background-color: black;
  height: 500px;
  overflow: scroll;
}
.habit {
  text-align: center;
  height: 180px;
  width: 25%;
  margin: 50px;
}
.habit>img{
  height:160px;
  width: 90%;
}
/* .one {
  align-self: flex-start;
}
.two {
  align-self: baseline;

} */
/* -------COMMUNITY PAGE------ */
#community{
  background-image: url("/images/community-rawpixel.jpeg");

}
.heading {
  border: 15px solid black;
  padding: 0px 20px;
  margin-top:200px;
  width: 30%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;

}
.community{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  padding: 10px;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 20px;
  width: 30%;
  border: 1px solid white;
}
.table > h2 {
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
}
table {
  text-align: center;
}
th {
  font-size: 25px;
  font-weight: bold;
  line-height: 26px;
  border-bottom: 2px solid white;
}
td {
  font-size: 20px;
}
td:hover{
  text-decoration: underline;
}


/* -------FOOTER------ */

.footer {
  width: 100%;
  height: 50px;
  position: static;
  color: white;
  text-align: center;
  border-top: 2px solid rgba(67, 123, 164, 0.63);
}
.footer > p > a {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
