
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:300');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
font-family: 'Bai Jamjuree', sans-serif;  font-weight: 100;
background-color: rgb(16, 77, 107);
color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#water {
  background-image: url("/images/ocean-top-matt-hardy.jpeg");
  /* background-color: rgb(46, 50, 103); */
}

/* ---------NAV BAR-------- */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 2px solid ghostwhite;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 4px;
  color: white;
  height: 55px;
  margin-bottom:15px;
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 100;
}
.title {
  font-size: 48px;
  margin-left: 20px;
}
.top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  color: ghostwhite;
  font-family: sans-serif;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  overflow: hidden;
}
#welcome {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 35px;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}
#text {
  margin-bottom: 30px;

}
#button {
  color: rgb(27, 40, 107);
  background-color: rgb(226, 140, 61);
  font-family: 'Shadows Into Light', cursive;
  border: 1px solid rgba(128, 202, 233, 0.61);
  font-size: 20px;
  width: 130px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
}
#button:hover{
  color: white;
  background-color: rgba(27, 40, 107, 0.43);
}
.second, .third{
  /* background-image: url("/images/large-underwater-anemonies-scott-webb.jpeg");
  background-size: cover;
  background-position: center; */
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.inner, .chartContext {
  background-color: rgba(65, 131, 163, 0.3);
  font-size: 19px;
  height: 300px;
  width: 33%;
  border: 2px solid rgba(67, 123, 164, 0.63);
  text-align: center;
  margin: 10px;
  padding: 7px;
}
.chartContext{
  height: 350px;
  width: 30%;
  font-size: 20px;
  margin-right: 40px;
  margin-top: -10px;
}
.innertext {
  opacity: 1;
}
/* .third {
  background-image: url("/images/beach-plastic-john-cameron.jpeg");
  height: 550px;
  width:70%;
} */
@media only screen and (max-width:795px){

  .inner {
    font-size: 16px;
  }
}
@media only screen and (max-width:600px){
  .second{
    flex-wrap: wrap;
  }
  .inner {
    font-size: 12px;
  }
}
@media only screen and (max-width:414px){
  .second{
    flex-wrap: wrap;
  }
  .inner {
    font-size: 10px;
    min-width: 414px;
  }
}
#legos, #store, #fish {
  padding: 5px;
  background-position: center;
  background-size: cover;
  height: 290px;
  opacity: 0.7;
}

#legos > div, #store > div, #fish > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  height: 50%;
  background-color: rgba(65, 131, 163, 0.8);
  margin: 0 auto;
}
#legos {
  background-image: url("/images/legos-iker-urteaga.jpeg");
}
#store {
  background-image: url("/images/grocery-store-fikri-rasyid.jpeg");
}
#fish {
  background-image: url("/images/fish-lance-anderson.jpeg");
  transform-background-image: rotate(90deg);
}
/* ---------------HOME PAGE CHART--------------- */
.topTen{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#chart{
  background-color: #F5F2EB;
  border: 1px solid #CCC;
  color: black;
}
.bar {
  fill: rgb(246, 132, 26);
  shape-rendering: crispEdges;
}
.bar-label {
  text-anchor: middle;
  fill: #000;
  font-size: 12px;
}
.axis path,
.axis line {
  fill: none;
  color: black;
  stroke: #000;
  shape-rendering: crispEdges;

}
.gridline path,
.gridline line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

/* ---------FORM PAGE-------- */
.container, .mainContent, #firststep, .form, .graph  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#trash {
  background-image: url("/images/beach-plastic-john-cameron.jpeg");
}
#firststep, #results {
  /* margin-top: 20px; */
  height: 500px;
  width: 100%;
  background-color: white;
  color: rgb(16, 77, 107)
}
#firststep > h2, #results > h2 {
  font-size: 35px;
}
#theNeed{
  font-size: 25px;
  margin: 10px 100px;
}
.mainContent {
  flex-direction: row;
}

.form {
  height: 50%;
  width: 40%;
  justify-content: center;
}

form {
  margin-bottom: 30px;
  text-align: center;
}
label {
  font-weight: bold;
  font-size: 20px;
  padding: 3px;
  float: left;
}
input,
select,
textarea {
    background-color: #fff;
    border-color: #e0e0e0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    color: #474e57;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
}
.submit {
  margin: 25px;

}
/* --------RESULTS PAGE--------- */

#jellyfish{
  background-image: url("/images/jellyfish-sasha-stories.jpeg");
}
.graph{
  margin: 20px;
}
#results{
  margin: 30px 0;
}

/* -------COMMUNITY PAGE------ */
#community{
  background-image: url("/images/carrying-baskets-aaron-thomas.jpeg");

}
.leaderboard{
  width: 100%;
  background-color: black;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 20px;
  width: 30%;
}
.table > h2 {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
}
table {
  text-align: center;
}
th {
  font-size: 25px;
  font-weight: bold;
  line-height: 26px;
  border-bottom: 2px solid white;
}
td {
  font-size: 20px;
}
td:hover{
  text-decoration: underline;
}
a {
  color: white;
  text-decoration: none;
}

/* -------FOOTER------ */

.footer {
  width: 100%;
  height: 50px;
  position: static;
  color: white;
  text-align: center;
  border-top: 2px solid rgba(67, 123, 164, 0.63);
}
.footer > a {
  text-decoration: underline;
}
